<div >
  <h2><%= gettext "Welcome to test liftif!" %></h2>
</div>

<form  action="/api/users/create" method="post">

  Name:<br>
  <input type="text" name="name">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br>
  Phone:<br>
  <input type="text" name="phone">
  <br>
  Country:<br>
  <input type="text" name="country">
  <br>
  City:<br>
  <input type="text" name="city">
  <br>
  Address:<br>
  <input type="text" name="address">
  <br><br>
  <%= submit "Create User", class: "btn btn-primary" %>
</form> 



</div>
